body{
  overflow : hidden;
  width: 400px;
  height: 100vh;
  background-color:#efefff;
  
}
.msgcard {
	box-shadow: 0 0px 25px rgba(0, 0, 0, .2);
}

.chat-log {
	overflow: auto;
	height: calc(75vh);

}

.chat-log_item {
	background: #eaeaea;
	padding: 10px;
	margin: 0 auto 10px;
	max-width: 95%;
	min-width: 25%;
	float: left;
	font-size: 13px;
	border-radius: 0 20px 20px 20px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	clear: both;
}

.chat-log_item.chat-log_item-own {
	color:#ffffff;
	float: right;
	background: #54a3f8;
	text-align: right;
	margin-right: 0.7rem;
  border-radius: 20px 0 20px 20px;
}

.chat-form {
	background: #DDDDDD;
	padding: 40px 0;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.chat-log_author {
	color:#ffffff;
	margin: 0 auto 0em;
	font-size: 12px;
	font-weight: bold;
}

.chat-log_time {
	color:#ffffff;
	margin: 0 auto .5em;
	direction: rtl;
	font-size: 12px;
	opacity: 0.5;
}

.cashbackButton {
	background-color:#54a3f8;
	border-radius:19px;
	border:3px solid #1b51db;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:16px;
	padding:7px 7px;
	text-decoration:none;
}
.cashbackButton:hover {
	background-color:#1b51db;
	color:#ffffff;
}
.cashbackButton:active {
	position:relative;
	top:1px;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
